<a href="https://colab.research.google.com/github/brunomoraisnc/into-to-data-science-ifb/blob/master/5_7_Limpeza_dos_dados_BRUNO_MORAIS_NEVES_DE_CASTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# LÃª o dataset
df = pd.read_csv('ovni_dataset.csv')

In [0]:
# Apresenta brevemente o DF
df.head()

   Unnamed: 0  ...    Posted
0           0  ...   10/5/17
1           1  ...   10/5/17
2           2  ...   10/5/17
3           3  ...   10/5/17
4           4  ...  10/19/17

[5 rows x 8 columns]

In [0]:
# Apresenta as colunas do DF
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99975 entries, 0 to 99974
Data columns (total 8 columns):
Unnamed: 0     99975 non-null int64
Date / Time    99975 non-null object
City           99781 non-null object
State          92790 non-null object
Shape          97970 non-null object
Duration       96989 non-null object
Summary        99954 non-null object
Posted         99973 non-null object
dtypes: int64(1), object(7)
memory usage: 6.1+ MB

2. Remover registros que tenham valores vazios (None, Unknown, ...) para City, State e Shape

In [0]:
# Remove valores rotulados como desconhecidos em 'Shape'
df = df[df['Shape'] != 'Unknown']

# Apresenta o DF
df.head()

   Unnamed: 0  ...    Posted
0           0  ...   10/5/17
2           2  ...   10/5/17
3           3  ...   10/5/17
4           4  ...  10/19/17
5           5  ...   10/5/17

[5 rows x 8 columns]

In [0]:
# Checa a existÃªncia de valores 'Unknown' na coluna 'Shape'
df[df['Shape'] == 'Unknown'].count()

Unnamed: 0     0
Date / Time    0
City           0
State          0
Shape          0
Duration       0
Summary        0
Posted         0
dtype: int64

In [0]:
# Quantidade de valores nulos em cada coluna
print(df.isna().sum())

Unnamed: 0        0
Date / Time       0
City            183
State          6747
Shape          2005
Duration       2749
Summary          21
Posted            2
dtype: int64

In [0]:
# Remove valores nulos das 3 colunas
df = df[df['City'].notna()]
df = df[df['State'].notna()]
df = df[df['Shape'].notna()]

In [0]:
# Quantidade de valores nulos em cada coluna
print(df.isna().sum())

Unnamed: 0        0
Date / Time       0
City              0
State             0
Shape             0
Duration       2008
Summary           9
Posted            2
dtype: int64

3. Manter somente os registros referentes aos 51 estados dos Estados Unidos.

In [0]:
# LÃª arquivo CSV
usa_states_df = pd.read_excel('states.xlsx')

# Apresenta arquivo CSV
print(usa_states_df.info())
usa_states_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
State           51 non-null object
Abbreviation    51 non-null object
dtypes: object(2)
memory usage: 896.0+ bytes
None

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [0]:
# Seleciona abreviaÃ§Ãµes de estados (USA)
usa_states = usa_states_df['Abbreviation'].values
print(usa_states)

['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MT' 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC'
 'ND' 'OH' 'OK' 'OR' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']

In [0]:
# cria DF apenas com valores da columa 'State' que existem em usa_states
df_only_usa = df[df['State'].isin(usa_states)]

# Apresenta DF
print(df_only_usa.info())
df_only_usa.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80413 entries, 0 to 99974
Data columns (total 8 columns):
Unnamed: 0     80413 non-null int64
Date / Time    80413 non-null object
City           80413 non-null object
State          80413 non-null object
Shape          80413 non-null object
Duration       78515 non-null object
Summary        80404 non-null object
Posted         80411 non-null object
dtypes: int64(1), object(7)
memory usage: 5.5+ MB
None

   Unnamed: 0  ...    Posted
0           0  ...   10/5/17
2           2  ...   10/5/17
3           3  ...   10/5/17
4           4  ...  10/19/17
5           5  ...   10/5/17

[5 rows x 8 columns]

4. Remover variÃ¡veis irrelevantes para a anÃ¡lise (Duration, Summary e Posted)

In [0]:
# Define colunas a serem deletadas
columns_to_drop = ['Duration', 'Summary', 'Posted', 'Unnamed: 0']

# Deleta colunas
df.drop(columns=columns_to_drop, inplace=True)

# Apresenta informaÃ§Ãµes de colunas do DF
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84301 entries, 0 to 99974
Data columns (total 4 columns):
Date / Time    84301 non-null object
City           84301 non-null object
State          84301 non-null object
Shape          84301 non-null object
dtypes: object(4)
memory usage: 3.2+ MB

5. Manter somente os registros de Shapes mais populares (com mais de 1000 ocorrÃªncias);

In [0]:
# Conta frequÃªncia de cada valor da coluna 'Shape'
shape_freq_df = df['Shape'].value_counts()

# Reseta o Ã­ndice do DF
shape_freq_df = shape_freq_df.reset_index()

# Guarda valores de Ã­ndices que entram na condiÃ§Ã£o 'x > 1000'
most_popular_shapes = shape_freq_df[shape_freq_df['Shape'] > 1000]['index']

# Apresenta a sÃ©rie guardada
print(most_popular_shapes)

0         Light
1        Circle
2      Triangle
3      Fireball
4         Other
5        Sphere
6          Disk
7          Oval
8     Formation
9      Changing
10        Cigar
11        Flash
12    Rectangle
13     Cylinder
14      Diamond
15      Chevron
Name: index, dtype: object

In [0]:
# Cria DF apenas com valores de 'Shape' que existem na sÃ©rie 'most_popular_shapes'
most_popular_shapes_df = df[df['Shape'].isin(most_popular_shapes)]

# Compara os valores da sÃ©rie 'most_popular_shapes' com os valores que estÃ£o na coluna 'Shape' do DF
most_popular_shapes_df['Shape'].value_counts().index == most_popular_shapes

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

6. Salvar o dataframe final em um arquivo CSV com o nome "df_OVNI_limpo".

In [0]:
# Salva o DF limpo em formato CSV
most_popular_shapes_df.to_csv('df_OVNI_limpo.csv')

**~FIM**